header.navbar
  .navbar-inner
    border-radius: 0
    .container
      width: 100%

h1
  margin-bottom: 20px

h2
  margin-bottom: 5px

table.torrents_list
  img.movie_poster
    width: 80px
    float: left
    margin-right: 10px
  h2
    font-size: 16px
  div.btn-group
    margin-top: 10px
